In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('housing.csv')
df = df[[
    'latitude', 'longitude', 'total_rooms',
    'total_bedrooms', 'population', 'households',
    'median_income', 'median_house_value', 'ocean_proximity',
    'housing_median_age'
]]
df.head()

,latitude,longitude,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,housing_median_age
0,37.88,-122.23,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,41.0
1,37.86,-122.22,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,21.0
2,37.85,-122.24,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,52.0
3,37.85,-122.25,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,52.0
4,37.85,-122.25,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,52.0

### Data preparation

* Select only the features from above and fill in the missing values with 0.
* Create a new column `rooms_per_household` by dividing the column `total_rooms` by the column `households` from dataframe. 
* Create a new column `bedrooms_per_room` by dividing the column `total_bedrooms` by the column `total_rooms` from dataframe. 
* Create a new column `population_per_household` by dividing the column `population` by the column `households` from dataframe.

In [3]:
df.isna().sum()

latitude                0
longitude               0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
housing_median_age      0
dtype: int64

In [4]:
df = df.fillna(0)

In [5]:
df.isna().sum()

latitude              0
longitude             0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
housing_median_age    0
dtype: int64

In [6]:
df['rooms_per_household'] = df['total_rooms'] / df['households']
df['bedrooms_per_room'] = df['total_bedrooms'] / df['total_rooms']
df['population_per_household'] = df['population'] / df['households']

### Question 1

What is the most frequent observation (mode) for the column `ocean_proximity`?

Options:
* `NEAR BAY`
* `<1H OCEAN`
* `INLAND`
* `NEAR OCEAN`

In [7]:
df['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

### Question 2

* Create the [correlation matrix](https://www.google.com/search?q=correlation+matrix) for the numerical features of your train dataset.
    - In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
* What are the two features that have the biggest correlation in this dataset?

Options:
* `total_bedrooms` and `households`
* `total_bedrooms` and `total_rooms`
* `population` and `households`
* `population_per_household` and `total_rooms`

In [8]:
df.corr()

,latitude,longitude,total_rooms,total_bedrooms,population,households,median_income,median_house_value,housing_median_age,rooms_per_household,bedrooms_per_room,population_per_household
latitude,1.000000,-0.924664,-0.036100,-0.065318,-0.108785,-0.071035,-0.079809,-0.144160,0.011173,0.106389,-0.104112,0.002366
longitude,-0.924664,1.000000,0.044568,0.068082,0.099773,0.055310,-0.015176,-0.045967,-0.108197,-0.027540,0.084836,0.002476
total_rooms,-0.036100,0.044568,1.000000,0.920196,0.857126,0.918484,0.198050,0.134153,-0.361262,0.133798,-0.174583,-0.024581
total_bedrooms,-0.065318,0.068082,0.920196,1.000000,0.866266,0.966507,-0.007295,0.049148,-0.317063,0.002717,0.122205,-0.028019
population,-0.108785,0.099773,0.857126,0.866266,1.000000,0.907222,0.004834,-0.024650,-0.296244,-0.072213,0.031397,0.069863
households,-0.071035,0.055310,0.918484,0.966507,0.907222,1.000000,0.013033,0.065843,-0.302916,-0.080598,0.059818,-0.027309
median_income,-0.079809,-0.015176,0.198050,-0.007295,0.004834,0.013033,1.000000,0.688075,-0.119034,0.326895,-0.573836,0.018766
median_house_value,-0.144160,-0.045967,0.134153,0.049148,-0.024650,0.065843,0.688075,1.000000,0.105623,0.151948,-0.238759,-0.023737
housing_median_age,0.011173,-0.108197,-0.361262,-0.317063,-0.296244,-0.302916,-0.119034,0.105623,1.000000,-0.153277,0.125396,0.013191
rooms_per_household,0.106389,-0.027540,0.133798,0.002717,-0.072213,-0.080598,0.326895,0.151948,-0.153277,1.000000,-0.387465,-0.004852
bedrooms_per_room,-0.104112,0.084836,-0.174583,0.122205,0.031397,0.059818,-0.573836,-0.238759,0.125396,-0.387465,1.000000,0.003047
population_per_household,0.002366,0.002476,-0.024581,-0.028019,0.069863,-0.027309,0.018766,-0.023737,0.013191,-0.004852,0.003047,1.000000

### Make `median_house_value` binary

* We need to turn the `median_house_value` variable from numeric into binary.
* Let's create a variable `above_average` which is `1` if the `median_house_value` is above its mean value and `0` otherwise.

In [9]:
mean_median_house_value = df['median_house_value'].mean()
df['above_average'] = df['median_house_value'].apply(lambda x: 1 if x > mean_median_house_value else 0)

In [10]:
mean_median_house_value

206855.81690891474

In [11]:
df

,latitude,longitude,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,housing_median_age,rooms_per_household,bedrooms_per_room,population_per_household,above_average
0,37.88,-122.23,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,41.0,6.984127,0.146591,2.555556,1
1,37.86,-122.22,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,21.0,6.238137,0.155797,2.109842,1
2,37.85,-122.24,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,52.0,8.288136,0.129516,2.802260,1
3,37.85,-122.25,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,52.0,5.817352,0.184458,2.547945,1
4,37.85,-122.25,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,52.0,6.281853,0.172096,2.181467,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,39.48,-121.09,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,25.0,5.045455,0.224625,2.560606,0
20636,39.49,-121.21,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,18.0,6.114035,0.215208,3.122807,0
20637,39.43,-121.22,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND,17.0,5.205543,0.215173,2.325635,0
20638,39.43,-121.32,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,18.0,5.329513,0.219892,2.123209,0
20639,39.37,-121.24,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,16.0,5.254717,0.221185,2.616981,0

### Split the data

* Split your data in train/val/test sets, with 60%/20%/20% distribution.
* Use Scikit-Learn for that (the `train_test_split` function) and set the seed to 42.
* Make sure that the target value (`median_house_value`) is not in your dataframe.

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=42)

In [14]:
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

In [15]:
y_train = df_train['above_average']
y_val = df_val['above_average']
y_test = df_test['above_average']

del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

target_train = df_train['median_house_value']
target_val = df_val['median_house_value']
target_test = df_test['median_house_value']

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

### Question 3

* Calculate the mutual information score with the (binarized) price for the categorical variable that we have. Use the training set only.
* What is the value of mutual information?
* Round it to 2 decimal digits using `round(score, 2)`

Options:
- 0.26
- 0
- 0.10
- 0.16

In [16]:
from sklearn.metrics import mutual_info_score

In [17]:
mutual_info_score(y_train, df_train['ocean_proximity'])

0.10138385763624205

### Question 4

* Now let's train a logistic regression
* Remember that we have one categorical variable `ocean_proximity` in the data. Include it using one-hot encoding.
* Fit the model on the training dataset.
    - To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
    - `model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)`
* Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

Options:
- 0.60
- 0.72
- 0.84
- 0.95

In [18]:
from sklearn.feature_extraction import DictVectorizer

In [19]:
train_dict = df_train.to_dict(orient='records')

In [20]:
train_dict[0]

{'latitude': 34.43,
 'longitude': -119.67,
 'total_rooms': 1467.0,
 'total_bedrooms': 381.0,
 'population': 1404.0,
 'households': 374.0,
 'median_income': 2.3681,
 'ocean_proximity': '<1H OCEAN',
 'housing_median_age': 39.0,
 'rooms_per_household': 3.9224598930481283,
 'bedrooms_per_room': 0.25971370143149286,
 'population_per_household': 3.7540106951871657}

In [21]:
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

DictVectorizer(sparse=False)

In [22]:
X_train = dv.transform(train_dict)

In [23]:
X_train.shape

(12384, 16)

In [24]:
dv.get_feature_names()

['bedrooms_per_room',
 'households',
 'housing_median_age',
 'latitude',
 'longitude',
 'median_income',
 'ocean_proximity=<1H OCEAN',
 'ocean_proximity=INLAND',
 'ocean_proximity=ISLAND',
 'ocean_proximity=NEAR BAY',
 'ocean_proximity=NEAR OCEAN',
 'population',
 'population_per_household',
 'rooms_per_household',
 'total_bedrooms',
 'total_rooms']

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [27]:
val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

In [28]:
y_pred = model.predict_proba(X_val)[:, 1]

In [29]:
(y_val == (y_pred > 0.5)).mean()

0.8355135658914729

### Question 5 

* Let's find the least useful feature using the *feature elimination* technique.
* Train a model with all these features (using the same parameters as in Q4).
* Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
* For each feature, calculate the difference between the original accuracy and the accuracy without the feature. 
* Which of following feature has the smallest difference? 
   * `total_rooms`
   * `total_bedrooms` 
   * `population`
   * `households`

> **note**: the difference doesn't have to be positive

In [30]:
df_short = df[['total_rooms', 'total_bedrooms', 'population', 'households', 'above_average']]
df_train_full, df_test = train_test_split(df_short, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

y_train = df_train['above_average']
y_val = df_val['above_average']
y_test = df_test['above_average']

del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

train_dict = df_train.to_dict(orient='records')
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)
X_train = dv.transform(train_dict)

model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)
y_pred = model.predict_proba(X_val)[:, 1]
original_score = (y_val == (y_pred > 0.5)).mean()

original_score

0.7095445736434108

In [31]:
for feature in ['total_rooms', 'total_bedrooms', 'population', 'households']:
    
    df_short = df[['total_rooms', 'total_bedrooms', 'population', 'households', 'above_average']]
    df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=42)
    df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)
    
    y_train = df_train['above_average']
    y_val = df_val['above_average']
    y_test = df_test['above_average']

    del df_train['above_average']
    del df_val['above_average']
    del df_test['above_average']
    
    del df_train[feature]
    del df_val[feature]
    del df_test[feature]
    
    train_dict = df_train.to_dict(orient='records')
    dv = DictVectorizer(sparse=False)
    dv.fit(train_dict)
    X_train = dv.transform(train_dict)
    
    model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    
    val_dict = df_val.to_dict(orient='records')
    X_val = dv.transform(val_dict)
    y_pred = model.predict_proba(X_val)[:, 1]
    current_score = (y_val == (y_pred > 0.5)).mean()
    
    print(f'{feature} | {current_score} | {current_score - original_score}')

total_rooms | 0.9900678294573644 | 0.28052325581395354
total_bedrooms | 0.9890988372093024 | 0.2795542635658915
population | 0.9895833333333334 | 0.28003875968992253
households | 0.9895833333333334 | 0.28003875968992253

### Question 6

* For this question, we'll see how to use a linear regression model from Scikit-Learn
* We'll need to use the original column `'median_house_value'`. Apply the logarithmic transformation to this column.
* Fit the Ridge regression model (`model = Ridge(alpha=a, solver="sag", random_state=42)`) on the training data.
* This model has a parameter `alpha`. Let's try the following values: `[0, 0.01, 0.1, 1, 10]`
* Which of these alphas leads to the best RMSE on the validation set? Round your RMSE scores to 3 decimal digits.

If there are multiple options, select the smallest `alpha`.

Options:
- 0
- 0.01
- 0.1
- 1
- 10

In [32]:
df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

y_train = np.log1p(df_train['median_house_value'])
y_val = np.log1p(df_val['median_house_value'])
y_test = np.log1p(df_test['median_house_value'])

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

train_dict = df_train.to_dict(orient='records')
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)
X_train = dv.transform(train_dict)

In [33]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [34]:
for a in [0, 0.01, 0.1, 1, 10]:
    
    model = Ridge(alpha=a, solver='sag', random_state=42)
    model.fit(X_train, y_train)
    
    val_dict = df_val.to_dict(orient='records')
    X_val = dv.transform(val_dict)
    y_pred = model.predict(X_val)
    
    print(f'{a} | {np.round(mean_squared_error(y_val, y_pred, squared=False), 3)}')

0 | 0.524
0.01 | 0.524
0.1 | 0.524
1 | 0.524
10 | 0.524